@mixin font-face($label, $filepath, $weight: 400, $style: normal){
	@font-face {
	  font-family: $label;
	  src: url("#{$filepath}.woff2") format("woff2"),
	       url("#{$filepath}.woff") format("woff");
	  font-style: $style;
	  font-weight: $weight;
	}
}
@mixin font-stack($label, $style) {
	$fontVar: '';
	@if($label == 'Montserrat') {
		$fontVar: var(--montserrat-font);
	}
	@else if($label == 'Frank Ruhl Libre') {
		$fontVar: var(--frank-ruhl-libre-font);
	}

	$stack: '';
	@if $style == sans-serif {
		$stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	@else if $style == serif {
		$stack: Georgia, "Times New Roman", serif;
	}
	
	font-family: $fontVar, $stack;
}