/*
 * Patterns with embedded background colors must
 * have color explicitly set to $color-body to
 * avoid conflict with BG color patterns
 */
*[class^='module-'] {
	@include module-base;
}
.module-recipe {
	> * {
		background-color: $color-chrome-light;
		color: $color-body;
	}
	.media {
		width: 100%;
		height: 200px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.text {
		padding: 1rem;
	}
	.h {
		margin-bottom: 0;
	}
}